.fall2024-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.fall2024-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #484646;
}
 
.fall2024-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.fall2024-links1 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.fall2024-navlink1 {
  color: #000000;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  background-color: #ffffff;
}
 
.fall2024-navlink2 {
  color: #000000;
  margin-left: var(--dl-space-space-twounits);
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  background-color: #ffffff;
}

.fall2024-navlink3 {
  color: #000000;
  margin-left: var(--dl-space-space-twounits);
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  background-color: #ffffff;
}
 
.fall2024-burger-menu {
  display: none;
}
 
.fall2024-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.fall2024-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
 
.fall2024-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.fall2024-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
 
.fall2024-logo {
  height: 2rem;
}
 
.fall2024-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.fall2024-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.fall2024-links2 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.fall2024-text10 {
  margin-bottom: var(--dl-space-space-unit);
}
 
.fall2024-text11 {
  margin-bottom: var(--dl-space-space-unit);
}
 
.fall2024-text12 {
  margin-bottom: var(--dl-space-space-unit);
}
 
.fall2024-text13 {
  margin-bottom: var(--dl-space-space-unit);
}
 
.fall2024-text14 {
  margin-bottom: var(--dl-space-space-unit);
}
 
.fall2024-buttons2 {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.fall2024-login {
  margin-right: var(--dl-space-space-twounits);
}
 
.fall2024-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
 
.fall2024-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
 
.fall2024-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.fall2024-text15 {
  margin-top: 80px;
}
 
.fall2024-text16 {
  top: 215px;
  left: -1px;
  position: absolute;
  align-self: flex-start;
  text-align: center;
  padding-top: 20px;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 0px;
  padding-left: 200px;
  padding-right: 200px;
}
 
.fall2024-text19 {
  margin-top: 150px;
}
 
.fall2024-text20 {
  top: 367px;
  right: -4px;
  position: absolute;
  align-self: flex-start;
  margin-top: 30px;
  text-align: center;
  padding-top: 20px;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 0px;
  padding-left: 200px;
  padding-right: 200px;
}
 
.fall2024-pasted-image {
  width: 244px;
  height: 369px;
  margin-top: 180px;
}
 
.fall2024-text23 {
  margin-top: 20px;
}
 
.fall2024-text24 {
  text-align: center;
  padding-top: 20px;
  padding-left: 200px;
  padding-right: 200px;
}
 
.fall2024-text27 {
  text-align: center;
  padding-top: 20px;
  padding-left: 200px;
  padding-right: 200px;
}
 
.fall2024-text28 {
  font-weight: 700;
}
 
.fall2024-text34 {
  font-style: normal;
  font-weight: 700;
}
 
.fall2024-text37 {
  font-style: normal;
  font-weight: 400;
}
 
.fall2024-text38 {
  font-weight: 700;
}
 
.fall2024-text39 {
  font-weight: 700;
}
 
.fall2024-text40 {
  font-style: normal;
  font-weight: 700;
}
 
.fall2024-text49 {
  text-align: center;
  padding-top: 20px;
  padding-left: 200px;
  padding-right: 200px;
}
 
.fall2024-text55 {
  text-align: center;
  padding-top: 20px;
  padding-left: 200px;
  padding-right: 200px;
}
 
@media(max-width: 991px) {
  .fall2024-text19 {
    margin-top: 140x;
  }
}
 
@media(max-width: 767px) {
  .fall2024-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .fall2024-desktop-menu {
    display: none;
  }
  .fall2024-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fall2024-text10 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .fall2024-text11 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .fall2024-text12 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .fall2024-text13 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .fall2024-text14 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
 
@media(max-width: 479px) {
  .fall2024-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .fall2024-mobile-menu {
    padding: 16px;
  }
}
