.summer2026-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.summer2026-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #484646;
}

.summer2026-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.summer2026-links1 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.summer2026-navlink1 {
  color: #000000;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  background-color: #ffffff;
}

.summer2026-navlink2 {
  color: #000000;
  margin-left: var(--dl-space-space-twounits);
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  background-color: #ffffff;
}

.summer2026-navlink3 {
  color: #000000;
  margin-left: var(--dl-space-space-twounits);
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  background-color: #ffffff;
}


.summer2026-burger-menu {
  display: none;
}

.summer2026-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

.summer2026-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.summer2026-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.summer2026-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}

.summer2026-logo {
  height: 2rem;
}

.summer2026-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.summer2026-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

.summer2026-links2 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.summer2026-text10 {
  margin-bottom: var(--dl-space-space-unit);
}

.summer2026-text11 {
  margin-bottom: var(--dl-space-space-unit);
}

.summer2026-text12 {
  margin-bottom: var(--dl-space-space-unit);
}

.summer2026-text13 {
  margin-bottom: var(--dl-space-space-unit);
}

.summer2026-text14 {
  margin-bottom: var(--dl-space-space-unit);
}

.summer2026-buttons2 {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.summer2026-login {
  margin-right: var(--dl-space-space-twounits);
}

.summer2026-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}

.summer2026-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}

.summer2026-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

.summer2026-text15 {
  margin-top: 80px;
}

.summer2026-text16 {
  align-self: flex-start;
  text-align: center;
  padding-top: 20px;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 0px;
  padding-left: 200px;
  padding-right: 200px;
}

.summer2026-text19 {
  margin-top: 60px;
}

.summer2026-text20 {
  align-self: flex-start;
  margin-top: 30px;
  text-align: center;
  padding-top: 20px;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 0px;
  padding-left: 200px;
  padding-right: 200px;
}

.summer2026-pasted-image {
  width: 100%;
  max-width: 700px;
  height: auto;
  margin-top: 40px;
}

.summer2026-text23 {
  margin-top: 20px;
}

.summer2026-text24 {
  text-align: center;
  padding-top: 20px;
  padding-left: 200px;
  padding-right: 200px;
}

.summer2026-text27 {
  text-align: center;
  padding-top: 20px;
  padding-left: 200px;
  padding-right: 200px;
}

.summer2026-text28 {
  font-weight: 700;
}

.summer2026-text49 {
  text-align: center;
  padding-top: 20px;
  padding-left: 200px;
  padding-right: 200px;
}

.summer2026-text55 {
  text-align: center;
  padding-top: 20px;
  padding-left: 200px;
  padding-right: 200px;
}

@media(max-width: 991px) {
  .summer2026-text19 {
    margin-top: 140px;
  }
}

@media(max-width: 767px) {
  .summer2026-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .summer2026-desktop-menu {
    display: none;
  }
  .summer2026-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .summer2026-text10 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .summer2026-text11 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .summer2026-text12 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .summer2026-text13 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .summer2026-text14 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

@media(max-width: 479px) {
  .summer2026-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .summer2026-mobile-menu {
    padding: 16px;
  }
}
